
Project1/Project1.sln
*.ipch
*.json
*.db
Project1/.vs/Project1/v16/Browse.VC.opendb
*.db-wal
.vs/University-programming/v16/.suo
*.sqlite
*.db-shm
Project1/.vs/Project1/v16/.suo
*.vcxproj
*.filters
*.user
*.recipe
*.log
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.obj
*.exe
*.ilk
*.txt
*.sln
Домашнее задание №1/.vs/Домашнее задание №1/v16/.suo
*.opendb
testing/.vs/testing/v16/.suo
Домашнее задание №2/.vs/Домашнее задание №2/v16/.suo
Общий файл с заданиями/.vs/Общий файл с заданиями/v16/.suo
